assets/images
assets/statements
etc/secrets/*.json
constant_variables/ec2_constants.py
Previous_versions_of_app
*__pycache__/
venv/
tests
myevn
.env
.env_aws
list.txt
req.txt
task.txt
appcopy.py
google_login.py
Bank_statement.json
test.py
EncryptionCopy.py
categorization*