streamlit
pandas
xlrd
pdfplumber
python-dotenv
pymysql
sqlalchemy
google-auth-oauthlib
google-api-python-client
PyJWT
streamlit-aggrid
extra-streamlit-components
xlsxwriter
openpyxl
email-to
secure-smtplib
streamlit-javascript
matplotlib
plotly
plotly-express
joblib
logging
botocore.exceptions
boto3
base64